<html>
<head>
    <title> Blogs </title>
</head>
<body>
    <div> Blogs <a href="/index"> Home </a>
        <a href="/welcome"> Welcome </a>
        {% if current_user.is_anonymous %}
            <a href="/login"> Login</a>
            <a href="/register">Register</a> </div>
        {% else %}
            <a href="/logout">Logout</a>
        {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>